<?php echo $header; ?><?php echo $column_left; ?>

<div id="content">

  <div class="page-header">

    <div class="container-fluid">

      <div class="pull-right">

        <a onclick="$('#export').submit();" data-toggle="tooltip" title="Export" class="btn btn-primary"><i class="fa fa-download"></i></a>

        <a href="<?php echo $add; ?>" data-toggle="tooltip" title="<?php echo $button_add; ?>" class="btn btn-primary"><i class="fa fa-plus"></i></a>

        <button type="button" data-toggle="tooltip" title="<?php echo $button_delete; ?>" class="btn btn-danger" onclick="confirm('<?php echo $text_confirm; ?>') ? $('#form-customer').submit() : false;"><i class="fa fa-trash-o"></i></button>

        <form action="<?php echo $export; ?>" method="post" id="export" class="form-horizontal"><input type="hidden" name="export_type" value="customer" /></form>

      </div>

      <h1><?php echo $heading_title; ?></h1>

      <ul class="breadcrumb">

        <?php foreach ($breadcrumbs as $breadcrumb) { ?>

        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>

        <?php } ?>

      </ul>

    </div>

  </div>

  <div class="container-fluid">

    <?php if ($error_warning) { ?>

    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>

      <button type="button" class="close" data-dismiss="alert">&times;</button>

    </div>

    <?php } ?>

    <?php if ($success) { ?>

    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>

      <button type="button" class="close" data-dismiss="alert">&times;</button>

    </div>

    <?php } ?>

    <div class="panel panel-default">

      <div class="panel-heading">

        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $text_list; ?></h3>

      </div>

      <div class="panel-body">

        <div class="well">

          <div class="row">

            <div class="col-sm-3">

              <div class="form-group">

                <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>

                <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />

              </div>

              <div class="form-group">

                <label class="control-label" for="input-email"><?php echo $entry_email; ?></label>

                <input type="text" name="filter_email" value="<?php echo $filter_email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-email" class="form-control" />

              </div>

            </div>

            <div class="col-sm-3">

              <div class="form-group">

                <label class="control-label" for="input-customer-group"><?php echo $entry_customer_group; ?></label>

                <select name="filter_customer_group_id" id="input-customer-group" class="form-control">

                  <option value="*"></option>

                  <?php foreach ($customer_groups as $customer_group) { ?>

                  <?php if ($customer_group['customer_group_id'] == $filter_customer_group_id) { ?>

                  <option value="<?php echo $customer_group['customer_group_id']; ?>" selected="selected"><?php echo $customer_group['name']; ?></option>

                  <?php } else { ?>

                  <option value="<?php echo $customer_group['customer_group_id']; ?>"><?php echo $customer_group['name']; ?></option>

                  <?php } ?>

                  <?php } ?>

                </select>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-status"><?php echo $entry_status; ?></label>

                <select name="filter_status" id="input-status" class="form-control">

                  <option value="*"></option>

                  <?php if ($filter_status) { ?>

                  <option value="1" selected="selected"><?php echo $text_enabled; ?></option>

                  <?php } else { ?>

                  <option value="1"><?php echo $text_enabled; ?></option>

                  <?php } ?>

                  <?php if (!$filter_status && !is_null($filter_status)) { ?>

                  <option value="0" selected="selected"><?php echo $text_disabled; ?></option>

                  <?php } else { ?>

                  <option value="0"><?php echo $text_disabled; ?></option>

                  <?php } ?>

                </select>

              </div>

            </div>

            <div class="col-sm-3 gohide">

              <div class="form-group">

                <label class="control-label" for="input-approved"><?php echo $entry_approved; ?></label>

                <select name="filter_approved" id="input-approved" class="form-control">

                  <option value="*"></option>

                  <?php if ($filter_approved) { ?>

                  <option value="1" selected="selected"><?php echo $text_yes; ?></option>

                  <?php } else { ?>

                  <option value="1"><?php echo $text_yes; ?></option>

                  <?php } ?>

                  <?php if (!$filter_approved && !is_null($filter_approved)) { ?>

                  <option value="0" selected="selected"><?php echo $text_no; ?></option>

                  <?php } else { ?>

                  <option value="0"><?php echo $text_no; ?></option>

                  <?php } ?>

                </select>

              </div>

              <div class="form-group">

                <label class="control-label" for="input-ip"><?php echo $entry_ip; ?></label>

                <input type="text" name="filter_ip" value="<?php echo $filter_ip; ?>" placeholder="<?php echo $entry_ip; ?>" id="input-ip" class="form-control" />

              </div>

            </div>

            <div class="col-sm-3">

              <div class="form-group">

                <label class="control-label" for="input-date-added"><?php echo $entry_date_added; ?></label>

                <div class="input-group date">

                  <input type="text" name="filter_date_added" value="<?php echo $filter_date_added; ?>" placeholder="<?php echo $entry_date_added; ?>" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />

                  <span class="input-group-btn">

                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>

                  </span>

                </div>

              </div>

              

              <div class="form-group">

                <label class="control-label">&nbsp;</label>

                <button type="button" id="button-filter" class="btn btn-primary input-group"><i class="fa fa-filter"></i> <?php echo $button_filter; ?></button>

              </div>

            </div>

          </div>

        </div>



        <div class="detail-color <?php echo $gohide; ?>">

          <label class="control-label"><b><?php echo $text_hybrid_auth_color; ?></b></label>

          <div class="hybrid_auth-color-list">

            <?php foreach($hybrid_auth_color as $key => $value) { ?>

              <?php if($value['color'] != 'FFFFFF') { ?>

              <span>

                <i class="fa <?php echo ($value['color'] != 'FFFFFF')?'fa-square':'fa-square-o'; ?>" <?php if($value['color'] != 'FFFFFF') { ?>style="color: #<?php echo $value['color']; ?>"<?php } ?>></i> <?php echo $value['name']; ?>

              </span>

              <?php } ?>

            <?php } ?>

          </div>

        </div>



        <form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form-customer">

          <div class="table-responsive">

            <table class="table table-bordered table-hover">

              <thead>

                <tr>

                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

                  <td class="text-left"><?php if ($sort == 'name') { ?>

                    <a href="<?php echo $sort_name; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_name; ?></a>

                    <?php } else { ?>

                    <a href="<?php echo $sort_name; ?>"><?php echo $column_name; ?></a>

                    <?php } ?></td>

                  <td class="text-left"><?php if ($sort == 'c.email') { ?>

                    <a href="<?php echo $sort_email; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_email; ?></a>

                    <?php } else { ?>

                    <a href="<?php echo $sort_email; ?>"><?php echo $column_email; ?></a>

                    <?php } ?></td>

                  <td class="text-left"><?php if ($sort == 'customer_group') { ?>

                    <a href="<?php echo $sort_customer_group; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_customer_group; ?></a>

                    <?php } else { ?>

                    <a href="<?php echo $sort_customer_group; ?>"><?php echo $column_customer_group; ?></a>

                    <?php } ?></td>

                  <td class="text-left"><?php if ($sort == 'c.status') { ?>

                    <a href="<?php echo $sort_status; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_status; ?></a>

                    <?php } else { ?>

                    <a href="<?php echo $sort_status; ?>"><?php echo $column_status; ?></a>

                    <?php } ?></td>

                  <td class="text-left"><?php if ($sort == 'c.ip') { ?>

                    <a href="<?php echo $sort_ip; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_ip; ?></a>

                    <?php } else { ?>

                    <a href="<?php echo $sort_ip; ?>"><?php echo $column_ip; ?></a>

                    <?php } ?></td>

                  <td class="text-left"><?php if ($sort == 'c.date_added') { ?>

                    <a href="<?php echo $sort_date_added; ?>" class="<?php echo strtolower($order); ?>"><?php echo $column_date_added; ?></a>

                    <?php } else { ?>

                    <a href="<?php echo $sort_date_added; ?>"><?php echo $column_date_added; ?></a>

                    <?php } ?></td>

                  <td class="text-right"><?php echo $column_action; ?></td>

                </tr>

              </thead>

              <tbody>

                <?php if ($customers) { ?>

                <?php foreach ($customers as $customer) { ?>

                <tr>

                  <td class="text-center"><?php if (in_array($customer['customer_id'], $selected)) { ?>

                    <input type="checkbox" name="selected[]" value="<?php echo $customer['customer_id']; ?>" checked="checked" />

                    <?php } else { ?>

                    <input type="checkbox" name="selected[]" value="<?php echo $customer['customer_id']; ?>" />

                    <?php } ?></td>

                  <td class="text-left">

                    <?php if($customer['hybrid_auth_color']) { ?>

                    <div class="box-shipping-color" style="background-color: #<?php echo $customer['hybrid_auth_color']; ?>"></div>

                    <?php } ?>

                    <?php echo $customer['name']; ?>  

                  </td>

                  <td class="text-left"><?php echo $customer['email']; ?></td>

                  <td class="text-left"><?php echo $customer['customer_group']; ?></td>

                  <td class="text-left"><?php echo $customer['status']; ?></td>

                  <td class="text-left"><?php echo $customer['ip']; ?></td>

                  <td class="text-left"><?php echo $customer['date_added']; ?></td>

                  <td class="text-right"><?php if ($customer['approve']) { ?>

                    <a href="<?php echo $customer['approve']; ?>" data-toggle="tooltip" title="<?php echo $button_approve; ?>" class="btn btn-success gohide"><i class="fa fa-thumbs-o-up"></i></a>

                    <?php } else { ?>

                    <button type="button" class="btn btn-success gohide" disabled><i class="fa fa-thumbs-o-up"></i></button>

                    <?php } ?>

                    <div class="btn-group" data-toggle="tooltip" title="<?php echo $button_login; ?>">

                      <button type="button" data-toggle="dropdown" class="btn btn-info dropdown-toggle"><i class="fa fa-lock"></i></button>

                      <ul class="dropdown-menu pull-right">

                        <li><a href="index.php?route=customer/customer/login&token=<?php echo $token; ?>&customer_id=<?php echo $customer['customer_id']; ?>&store_id=0" target="_blank"><?php echo $text_default; ?></a></li>

                        <?php foreach ($stores as $store) { ?>

                        <li><a href="index.php?route=customer/customer/login&token=<?php echo $token; ?>&customer_id=<?php echo $customer['customer_id']; ?>&store_id=<?php echo $store['store_id']; ?>" target="_blank"><?php echo $store['name']; ?></a></li>

                        <?php } ?>

                      </ul>

                    </div>

                    <?php if ($customer['unlock']) { ?>

                    <a href="<?php echo $customer['unlock']; ?>" data-toggle="tooltip" title="<?php echo $button_unlock; ?>" class="btn btn-warning gohide"><i class="fa fa-unlock"></i></a>

                    <?php } else { ?>

                    <button type="button" class="btn btn-warning gohide" disabled><i class="fa fa-unlock"></i></button>

                    <?php } ?>

                    <a href="<?php echo $customer['edit']; ?>" data-toggle="tooltip" title="<?php echo $button_edit; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>

                </tr>

                <?php } ?>

                <?php } else { ?>

                <tr>

                  <td class="text-center" colspan="8"><?php echo $text_no_results; ?></td>

                </tr>

                <?php } ?>

              </tbody>

            </table>

          </div>

        </form>

        <div class="row">

          <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>

          <div class="col-sm-6 text-right"><?php echo $results; ?></div>

        </div>

      </div>

    </div>

  </div>

  <script type="text/javascript"><!--

$('#button-filter').on('click', function() {

	url = 'index.php?route=customer/customer&token=<?php echo $token; ?>';

	

	var filter_name = $('input[name=\'filter_name\']').val();

	

	if (filter_name) {

		url += '&filter_name=' + encodeURIComponent(filter_name);

	}

	

	var filter_email = $('input[name=\'filter_email\']').val();

	

	if (filter_email) {

		url += '&filter_email=' + encodeURIComponent(filter_email);

	}

	

	var filter_customer_group_id = $('select[name=\'filter_customer_group_id\']').val();

	

	if (filter_customer_group_id != '*') {

		url += '&filter_customer_group_id=' + encodeURIComponent(filter_customer_group_id);

	}	

	

	var filter_status = $('select[name=\'filter_status\']').val();

	

	if (filter_status != '*') {

		url += '&filter_status=' + encodeURIComponent(filter_status); 

	}	

	

	var filter_approved = $('select[name=\'filter_approved\']').val();

	

	if (filter_approved != '*') {

		url += '&filter_approved=' + encodeURIComponent(filter_approved);

	}	

	

	var filter_ip = $('input[name=\'filter_ip\']').val();

	

	if (filter_ip) {

		url += '&filter_ip=' + encodeURIComponent(filter_ip);

	}

		

	var filter_date_added = $('input[name=\'filter_date_added\']').val();

	

	if (filter_date_added) {

		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);

	}

	

	location = url;

});

//--></script> 

  <script type="text/javascript"><!--

$('input[name=\'filter_name\']').autocomplete({

	'source': function(request, response) {

		$.ajax({

			url: 'index.php?route=customer/customer/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request),

			dataType: 'json',			

			success: function(json) {

				response($.map(json, function(item) {

					return {

						label: item['name'],

						value: item['customer_id']

					}

				}));

			}

		});

	},

	'select': function(item) {

		$('input[name=\'filter_name\']').val(item['label']);

	}	

});



$('input[name=\'filter_email\']').autocomplete({

	'source': function(request, response) {

		$.ajax({

			url: 'index.php?route=customer/customer/autocomplete&token=<?php echo $token; ?>&filter_email=' +  encodeURIComponent(request),

			dataType: 'json',			

			success: function(json) {

				response($.map(json, function(item) {

					return {

						label: item['email'],

						value: item['customer_id']

					}

				}));

			}

		});

	},

	'select': function(item) {

		$('input[name=\'filter_email\']').val(item['label']);

	}	

});

//--></script> 

  <script type="text/javascript"><!--

$('.date').datetimepicker({

	pickTime: false

});

//--></script></div>

<?php echo $footer; ?> 

