<footer id="footer"><?php echo $text_footer; ?><br /><?php echo $text_version; ?></footer></div>
<script type="text/javascript">
    $(document).ready(function() { 
        $(".table").tablesorter(); 
    }); 
</script>
</body></html>
