.product-container .product-box .product-name {

	font-size: 18px;

	padding: 0 5px;

}

.product-detail .pd-btn .btn-slide img {

	margin-right: 10px;

}



.product-detail .pd-box .pd-btn .btn-slide {

	padding: 8px 35px;

}



.cart-page .cart-page-summary .cart-note {

    font-size: inherit;

    padding-top: 20px;

    line-height: 2;

}



.product-detail .ai-box .ai-box-title {

	font-family: 'GR-Bold';

    font-size: 20px;

    margin-bottom: 15px;

    color: #53d800;

}



.product-detail .ai-box .ai-box-desc {

    font-size: 16px;

    line-height: 25px;

}



.product-detail .ai-box {

	background: #fbfbfb;

	padding: 15px;

	border-radius: 10px;

}



.product-detail .pd-detail .pd-box .pd-qty .pd-total {

	background-color: #efefef;

    padding: 10px;

    border-radius: 10px;

}



.checkout-success .payment-method img {

	display: block !important;

	margin: 0 auto;

	width: 100px;

}

.checkout-success .payment-method #user_account {

	border: 0;

	background-color: transparent;

	cursor: default;

	font-family: 'GR-Bold';

}



header .header-menu .header-list ul li.account-li .account-content {

	width: 220px;

}

header .header-menu .header-list ul li.account-li .account-content>div {

	margin: 2px 0;

}

.product-container .product-label-2 {
	color: white;
    background: #53d800;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 7px 2px;
    min-width: 40px;
    text-align: center;
}



@media (max-width: 767px) {

	.product-detail .pd-detail .pd-box .pd-title .pd-ttext {

		font-size: 24px;

	}

	.table-box .table-col.col-detail-option, .table-box .table-col.col-detail-qty {

		vertical-align: middle;

	}

	.mobile-menu .mobile-menu-content .mobile-menu-list ul {

		margin: 15px 0;

	}

	.mobile-menu .mobile-menu-content .mobile-menu-list ul li {

		padding: 5px 0;

	}

	.mobile-menu .mobile-menu-content .mobile-menu-list ul.mml-bottom li {

		margin: 2px 0;

	}

	.product-container .product-box .product-price {

		font-size: 14px;

	}

	.product-detail .ai-box {

		margin-top: 20px;

	}

	.product-detail .ai-box .ai-box-desc {

		font-size: 14px;

	}

	.product-detail .ai-box .ai-box-title {

		font-size: 16px;

	}

	.product-detail .pd-detail .pd-box .pd-desc .pdd-title, .product-detail .pd-detail .pd-box .pd-desc .pdd-content {

		text-align: left;

	}



	.mobile-menu .mobile-menu-content .mobile-menu-list ul li a.link-account {

		color: #fe6122;

    	font-family: 'GR-Medium';

	}

}