<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <?php if($coupon_bulk){?>
        <td class="text-left"><?php echo $column_code; ?></td>
        <?php }?>
        <td class="text-right"><?php echo $column_order_id; ?></td>
        <td class="text-left"><?php echo $column_customer; ?></td>
        <td class="text-right"><?php echo $column_amount; ?></td>
        <td class="text-left"><?php echo $column_date_added; ?></td>
      </tr>
    </thead>
    <tbody>
      <?php if ($histories) { ?>
      <?php foreach ($histories as $history) { ?>
      <tr>
        <?php if($coupon_bulk){?>
        <td class="text-left"><b><?php echo $history['code']; ?></b></td>
        <?php }?>
        <td class="text-right"><?php echo $history['order_id']; ?></td>
        <td class="text-left"><?php echo $history['customer']; ?></td>
        <td class="text-right"><?php echo ($history['amount'])?number_format($history['amount']) :''; ?></td>
        <td class="text-left"><?php echo $history['date_added']; ?></td>
      </tr>
      <?php } ?>
      <?php } else { ?>
      <tr>
        <td class="text-center" colspan="4"><?php echo $text_no_results; ?></td>
      </tr>
      <?php } ?>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
  <div class="col-sm-6 text-right"><?php echo $results; ?></div>
</div>
