.gohide{display: none !important;}

.label-warning-custome{
	background-color: #ffc60a;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
          url('fonts/Roboto-Medium.woff') format('woff'), 
          url('fonts/Roboto-Medium.ttf')  format('truetype'), 
          url('fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
        url('fonts/Roboto-Bold.woff') format('woff'), 
        url('fonts/Roboto-Bold.ttf')  format('truetype'), 
        url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),  
        url('fonts/Roboto-Italic.woff') format('woff'), 
        url('fonts/Roboto-Italic.ttf')  format('truetype'), 
        url('fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  
        url('fonts/Roboto-Light.woff') format('woff'), 
        url('fonts/Roboto-Light.ttf')  format('truetype'), 
        url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: lighter;
  font-style: normal;
}

.btn-custom {
    background-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 40px;
    letter-spacing: 1.6px;
    text-decoration: none;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -webkit-transition: background .2s,color .2s;
    -moz-transition: background .2s,color .2s;
    transition: background .2s,color .2s
}

.btn-custom.btn-scale {
    background-color: transparent;
    position: relative;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s
}

.btn-custom.btn-scale:hover.btn-blue:before,.btn-custom.btn-scale:hover.btn-grey:before,.btn-custom.btn-scale:hover.btn-white:before,.btn-custom.btn-scale:hover.btn-bg-blue:before {
    -webkit-animation: buttonScaleOut 0.5s;
    -moz-animation: buttonScaleOut 0.5s;
    animation: buttonScaleOut 0.5s
}

.btn-custom.btn-scale:hover.btn-blue {
    background: #2B88C6;
    color: #FFF
}

.btn-custom.btn-scale:hover.btn-blue:before {
    border-color: #2B88C6
}

.btn-custom.btn-scale:hover.btn-grey {
    background: #868686;
    color: #FFF
}

.btn-custom.btn-scale:hover.btn-white {
    background: #FFF;
    color: #868686
}

.btn-custom.btn-scale:hover.btn-bg-blue {
    background: #FFF;
    color: #2b88c6;
    border: 2px solid #2b88c6
}

.btn-custom.btn-scale.btn-blue:before,.btn-custom.btn-scale.btn-grey:before,.btn-custom.btn-scale.btn-white:before,.btn-custom.btn-scale.btn-bg-blue:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: buttonScaleIn 0.5s;
    -moz-animation: buttonScaleIn 0.5s;
    animation: buttonScaleIn 0.5s;
    -webkit-border-radius: 200px;
    border-radius: 200px
}

.btn-custom.btn-scale.btn-blue {
    border: none
}

.btn-custom.btn-scale.btn-blue:before {
    border: 2px solid #2b88c6
}

.btn-custom.btn-scale.btn-grey {
    border: none
}

.btn-custom.btn-scale.btn-grey:before {
    border: 2px solid #868686
}

.btn-custom.btn-scale.btn-white {
    border: none
}

.btn-custom.btn-scale.btn-white:before {
    border: 2px solid #FFF
}

.btn-custom.btn-scale.btn-bg-blue {
    border: 2px solid #FFF
}

.btn-custom.btn-scale.btn-bg-blue:before {
    border: 2px solid #FFF
}

.btn-custom.btn-blue {
    border: 1px solid #2b88c6;
    color: #2b88c6
}

.btn-custom.btn-blue:hover {
    background-color: #2B88C6;
    border-color: #FFF;
    color: #FFF
}

.btn-custom.no-border {
    border: none
}

.btn-custom.btn-bg-blue {
    background-color: #2B88C6;
    border: 1px solid transparent;
    color: #FFF
}

.btn-custom.btn-bg-blue:hover {
    background-color: #FFF;
    border-color: #2B88C6;
    color: #2B88C6
}

.btn-custom.btn-grey {
    border: 1px solid #868686;
    color: #868686
}

.btn-custom.btn-grey:hover {
    background-color: #868686;
    border-color: #FFF;
    color: #FFF
}

.btn-custom.btn-white {
    border: 2px solid #FFF;
    color: #FFF
}

.btn-custom.btn-white:hover {
    background-color: #FFF;
    border-color: transparent;
    color: #868686
}

.btn-custom.icon-plus:hover span i {
    border-color: #FFF
}

.btn-custom.icon-plus span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px
}

.btn-custom.icon-plus span i {
    border: 2px solid #868686;
    margin: 0 auto;
    display: block;
    text-align: center;
    position: relative;
    padding: 3px 0;
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.btn-custom.icon-plus span i:before {
    content: attr(data-plus);
    position: absolute;
    top: 10px;
    left: 53%;
    font-size: 18px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notif {
    padding: 20px 40px 20px 20px;
    text-align: center;
    margin: 0 0 30px;
    width: 100%;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
}

.notif.success {
    color: #98C93C;
    background-color: #e6f7df;
    border-color: #e6f7df
}

.notif.danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.notif.danger a{
	color: #A94442;
}

.notif.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.notif.absolute{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

.notif .close-notif{
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.notif .close-notif a{
    display: block;
}


#home-new{
    position: relative;
    height: calc(100vh - 345px);
    font-family: "Roboto",sans-serif;
}

.wrap-bg-text {
    position: absolute;
    top: 90%;
    left: -40px;
    font-family: "Roboto",sans-serif;
}

.wrap-bg-text .bg-text {
    color: #F5F5F5
}

.wrap-bg-text.vertical .bg-text {
    position: absolute;
    top: 10%;
    bottom: 80px;
    line-height: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.wrap-bg-text .bg-text h1 {
    font-size: 200px;
    font-weight: 700
}

.wrap-form-home{
    position: relative;
    top: 50%;
}

#home-logo{
    text-align: center;
    position: relative;
    z-index: 300;
}

#home-logo:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#home-logo img{
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

#wrap-login{
    padding: 0 72px;
    position: relative;
    z-index: 200;
}

#wrap-login h1 {
    font-size: 26px;
    color: #2A2A2A;
    position: relative;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    margin: 0 0 5px;
    text-align: center;
    font-weight: bold;
}

#wrap-login h1 span {
    color: #2a2a2a;
    position: relative;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 4px;
}

#wrap-login h1 span:after {
    -webkit-animation: shiningText 5s ease-in-out infinite;
    -moz-animation: shiningText 5s ease-in-out infinite;
    animation: shiningText 5s ease-in-out infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    content: "";
    background: rgba(255,255,255,0.13);
    background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 77%, #fff 92%, rgba(255,255,255,0.3) 100%);
    position: absolute;
    left: -100%;
    top: -200%;
    width: 100%;
    height: 300%;
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg)
}

.clock{
    text-align: right;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    margin: 0 0 25px;
    line-height: 1.5;
    color: #bdbdbd;
}

.clock label{
	font-weight: lighter;
}

#wrap-login input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #cdcdcd;
    padding: 8px 10px 8px 0;
    color: #bdbdbd;
    font-size: 15px;
    width: 100%;
    font-family: "Roboto",sans-serif;
    -webkit-box-shadow: inset 0 0 0;
            box-shadow: inset 0 0 0;
    background: transparent;
    -webkit-border-radius: 0;
            border-radius: 0;
}

#wrap-login p{
    font-family: "Roboto",sans-serif;
    margin: 0 0 30px;
    position: relative;
}

#wrap-login p.filled-text label:not(.error){
    bottom: 36px;
    font-size: 13px;
}

#wrap-login p label:not(.error){
    position: absolute;
    bottom: 8px;
    color: #BDBDBD;
    pointer-events: none;
    font-weight: normal;
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

#wrap-login p.filled-text:after{
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

#wrap-login p:after{
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    background: #ffca05;
    position: absolute;
    bottom: 0;
    -webkit-transition: all ease 0.4s;
       -moz-transition: all ease 0.4s;
        -ms-transition: all ease 0.4s;
         -o-transition: all ease 0.4s;
            transition: all ease 0.4s;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
}

#wrap-login p a{
	color: #BDBDBD;
    font-weight: normal;
    font-family: "Roboto",sans-serif;
}

#wrap-login .eyes{
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

#wrap-login .eyes a{
    color: #bdbdbd;
    font-size: 18px;
}

#wrap-login .btn-custom{
    width: 100%;
    max-width: 230px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    outline: none;
    color: #868686;
}

#wrap-login .btn-custom:hover{
	color: #FFF;
    text-decoration: none;
}

#wrap-login input{
    color: #333;
}

#wrap-login label.error{
    position: absolute;
    right: 18px;
    bottom: 10px;
    color: red;
    font-size: 13px;
}

.square-green{
    width: 20px;
    height: 20px;
    background: #98c93c;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 30%;
    -webkit-animation: opacityAnimate 4S ease infinite;
       -moz-animation: opacityAnimate 4S ease infinite;
         -o-animation: opacityAnimate 4S ease infinite;
            animation: opacityAnimate 4S ease infinite;
}

.line-grey{
    width: 100px;
    height: 2px;
    background: #d0d4d2;
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 10%;
    -webkit-animation: animateLeftLine 7s ease-in-out infinite;
       -moz-animation: animateLeftLine 7s ease-in-out infinite;
         -o-animation: animateLeftLine 7s ease-in-out infinite;
            animation: animateLeftLine 7s ease-in-out infinite;
}

.triangle-yellow{
    width: 0;
    height: 0;
    border-bottom: 30px solid #ffca05;
    border-left: 30px solid transparent;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 20%;
}

.circle-blue{
    width: 25px;
    height: 25px;
    border: 3px solid #2B88C6;
    position: absolute;
    z-index: 100;
    top: 30%;
    right: 30%;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-animation: opacityAnimate 2.5s linear infinite;
       -moz-animation: opacityAnimate 2.5s linear infinite;
         -o-animation: opacityAnimate 2.5s linear infinite;
            animation: opacityAnimate 2.5s linear infinite;
}

.show-pass .fa.fa-eye{
    color: #333;
}

.wrap-forgot{
    text-align: right;
}

.wrap-forgot a{
    font-size: 13px;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.wrap-forgot a:hover{
    text-decoration: none;
    color: #98c93f !important;
}

footer.home{
    position: fixed;
    height: 345px;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    opacity: 0.4;
}

footer.home .orbit {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    z-index: -1
}

footer.home .orbit .orbit-large {
    background: url("../image/goadmin/footer/orbit-large.png") no-repeat;
    width: 984px;
    height: 984px;
    position: absolute;
    bottom: -700px;
    left: 10px;
    z-index: -1;
    -webkit-animation: orbitLeftRight 40s linear infinite;
    -moz-animation: orbitLeftRight 40s linear infinite;
    animation: orbitLeftRight 40s linear infinite
}

footer.home .orbit .orbit-medium {
    background: url("../image/goadmin/footer/orbit-medium.png") no-repeat;
    width: 784px;
    height: 784px;
    position: absolute;
    bottom: -550px;
    left: 55px;
    z-index: -1;
    -webkit-animation: orbitLeftRight 40s linear infinite;
    -moz-animation: orbitLeftRight 40s linear infinite;
    animation: orbitLeftRight 40s linear infinite
}

footer.home .orbit .orbit-small {
    background: url("../image/goadmin/footer/orbit-small.png") no-repeat;
    width: 580px;
    height: 580px;
    position: absolute;
    bottom: -415px;
    left: 130px;
    z-index: -1;
    -webkit-animation: orbitLeftRight 25s linear infinite;
    -moz-animation: orbitLeftRight 25s linear infinite;
    animation: orbitLeftRight 25s linear infinite
}

footer.home .orbit .moon {
    background: url("../image/goadmin/footer/moon.png") no-repeat;
    width: 233px;
    height: 233px;
    position: absolute;
    bottom: -160px;
    left: 295px
}

footer.home .wave {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: -2
}

footer.home .wave .wave-grey {
    background: url("../image/goadmin/footer/wave-grey.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 118px;
    -webkit-animation: waveLeft 15s linear infinite;
    -moz-animation: waveLeft 15s linear infinite;
    animation: waveLeft 15s linear infinite
}

footer.home .wave .wave-grey-2 {
    background: url("../image/goadmin/footer/wave-grey-2.png") repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    opacity: 0.6;
    -webkit-animation: waveRight 15s linear infinite;
    -moz-animation: waveRight 15s linear infinite;
    animation: waveRight 15s linear infinite
}

/*!
================================================  
* KEYFRAMES
*==================================================
*/

@-webkit-keyframes orbitRightLeft {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes orbitRightLeft {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes orbitRightLeft {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes orbitLeftRight {
    from {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes orbitLeftRight {
    from {
        -moz-transform: rotate(0deg)
    }

    to {
        -moz-transform: rotate(-360deg)
    }
}

@keyframes orbitLeftRight {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes waveRight {
    from {
        background-position: 0 0
    }

    to {
        background-position: 1013px 0
    }
}

@-moz-keyframes waveRight {
    from {
        background-position: 0 0
    }

    to {
        background-position: 1013px 0
    }
}

@keyframes waveRight {
    from {
        background-position: 0 0
    }

    to {
        background-position: 1013px 0
    }
}

@-webkit-keyframes waveLeft {
    from {
        background-position: 0 0
    }

    to {
        background-position: -1177px 0
    }
}

@-moz-keyframes waveLeft {
    from {
        background-position: 0 0
    }

    to {
        background-position: -1177px 0
    }
}

@keyframes waveLeft {
    from {
        background-position: 0 0
    }

    to {
        background-position: -1177px 0
    }
}

@-webkit-keyframes shiningText {
    10% {
        opacity: 1;
        left: -100%;
        transition-property: left, top, opacity;
        transition-duration: 2s, 2s, 2s;
        transition-timing-function: ease
    }

    100% {
        opacity: 0;
        left: 100%;
        transition-property: left, top, opacity
    }
}

@-moz-keyframes shiningText {
    10% {
        opacity: 1;
        left: -100%;
        transition-property: left, top, opacity;
        transition-duration: 2s, 2s, 2s;
        transition-timing-function: ease
    }

    100% {
        opacity: 0;
        left: 100%;
        transition-property: left, top, opacity
    }
}

@keyframes shiningText {
    10% {
        opacity: 1;
        left: -100%;
        transition-property: left, top, opacity;
        transition-duration: 2s, 2s, 2s;
        transition-timing-function: ease
    }

    100% {
        opacity: 0;
        left: 100%;
        transition-property: left, top, opacity
    }
}

@-webkit-keyframes buttonScaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2)
    }
}

@-moz-keyframes buttonScaleOut {
    0% {
        opacity: 1;
        -moz-transform: scale(1)
    }

    100% {
        opacity: 0;
        -moz-transform: scale(1.2)
    }
}

@keyframes buttonScaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@-webkit-keyframes opacityAnimate {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes opacityAnimate {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes opacityAnimate {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes animateLeftLine {
    0% {
        left: 0;
    }

    50% {
        opacity: -100%;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes animateLeftLine {
    0% {
        left: 0;
    }

    50% {
        opacity: -100%;
    }

    100% {
        opacity: 0;
    }
}

@keyframes animateLeftLine {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
    #wrap-login{
        padding: 0 30px;
    }

    #home-logo img{
        max-width: 70%;
    }
}

/*TABLET*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
	#wrap-login{
	    padding: 0 35px;
	}

	#home-logo img{
	    max-width: 70%;
	}

	.wrap-bg-text{
	    top: 90%;
	}

	.wrap-bg-text .bg-text h1{
	    font-size: 180px;
	}
}

/*PHONE*/
@media only screen and (min-width: 0px) and (max-width: 479px) {
	#home-logo{
	    margin: 0 0 50px;
	}

	#home-logo img{
	    max-width: 25%;
	}

	#wrap-login{
	    padding: 0 20px;
	}

	.wrap-form-home{
	    top: 20px;
	}

	#wrap-login h1{
	    margin: 0 0 5px;
	    font-size: 16px;
	}

	.wrap-bg-text{
	    top: 98%;
	}

	.wrap-bg-text .bg-text h1{
	    font-size: 150px;
	}

	.line-grey{
	    top: 50%;
	}

	#login .eyes i{
	    font-size: 18px;
	}
}