
table.tablesorter thead tr .header{
	cursor: pointer;
}

table.tablesorter .headerSortUp {
	background-image: url(../image/asc.gif);
	background-repeat: no-repeat;
    background-position-x: -6px;
    background-position-y: 16px;
}
table.tablesorter .headerSortDown {
	background-image: url(../image/desc.gif);
	background-repeat: no-repeat;
	background-position-x: -7px;
    background-position-y: 14px;
}